@model List<eSalesPro.Models.Sale_Invoice>

@foreach (var v in Model)
{

    <tr data-id="@v.Invoice.Id" class="text-center abs">

        <td class="Transaction_no_tr" data-title="User ID">@v.Invoice.Invoice_Number</td>
        <td class="Trans_type_tr" data-title="User ID">@v.Invoice.Document_Type.Type</td>
        <td class="Name_tr" data-title="User ID">@v.Invoice.Customer.Name</td>
        <td class="Address_tr" data-title="User ID">@v.Invoice.Customer.Billing_Street</td>
        <td class="Phone_tr" data-title="User ID">@v.Invoice.Customer.phone</td>
        @*<td class="Email_tr" data-title="User ID">@v.Invoice.Customer.Email</td>*@
        <td class="SKU_tr" data-title="User ID">@v.Sale.Product.Custom_Label_</td>
        <td class="QTY_tr" data-title="User ID">@v.Sale.Quantity</td>
        <td class="Price_tr" data-title="User ID">@v.Sale.Price</td>
        <td class="Sale_date_tr" style="width:9%" data-title="User ID">@v.Invoice.Created_at.ToShortDateString()</td>
        <td class="Status_tr" data-title="User ID">@v.Invoice.Payment_Status.Status</td>
    </tr>

}

<script>
 
</script>