@model eSalesPro.Models.Invoice

@*<script src="~/Scripts/new-js/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/new-js/jquery.datatables.min.js"></script>*@

@*<td data-title="User ID">@v.Customer.Customer_Type.Type</td>*@

@{
    decimal gross_flow = 0;
    int count = @Model.Sale_Transaction_History.Count();
    decimal total = 0;
    decimal cash = 0, card = 0, cheque = 0, bank_transfer = 0, paypal = 0, credit = 0, other = 0;
    decimal invoice_total = 0, item_sale_total = 0, invoice_total_paid = 0, item_sale_paid = 0;
}

<div id="date_click_div">

    <div class="col-md-12">
        <table border="0" class="table table-responsive border_black" id="table_on_dates">
            <thead>
                <tr class="table-heading-fonts table-main-headings">
                    <th class="text-center">Order Id</th>
                    <th class="text-center">Customer</th>
                    @*<th class="text-center">Customer Type</th>*@
                    <th class="text-center">Payment Type</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Net</th>
                    <th class="text-center">VAT</th>
                    <th class="text-center">Gross</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>

            <tbody id="updatedDiv" class="black-color bold">



                        @*{ count = @v.Sale_Transaction_History.Count; }*@

                        <!--Calculations Against Document Types-->
                        @if (@Model.Doc_Type_ID == 1)
                        {
                            invoice_total = invoice_total + @Model.Gross_Total;
                        }
                        else if (@Model.Doc_Type_ID == 3)
                        {
                            item_sale_total = item_sale_total + @Model.Gross_Total;
                        }

                        @if (count == 0 && @Model.Doc_Type_ID == 1)
                        {
                            invoice_total_paid = invoice_total_paid + @Model.Amount_Paid;
                        }
                        else if (count == 0 && @Model.Doc_Type_ID == 3)
                        {
                            item_sale_paid = item_sale_paid + @Model.Amount_Paid;
                        }

                        <!--Calculations Against Document Types-->



                        <!--Calculations Against Payment Methods-->

                        @if (count == 0 && @Model.Pay_Method_ID == 1 && @Model.Doc_Type_ID != 2)
                        {
                            cash = cash + @Model.Amount_Paid;
                        }

                        else if (count == 0 && @Model.Pay_Method_ID == 2 && @Model.Doc_Type_ID != 2)
                        {
                            card = card + @Model.Amount_Paid;
                        }
                        else if (count == 0 && @Model.Pay_Method_ID == 3 && @Model.Doc_Type_ID != 2)
                        {
                            cheque = cheque + @Model.Amount_Paid;
                        }
                        else if (count == 0 && @Model.Pay_Method_ID == 4 && @Model.Doc_Type_ID != 2)
                        {
                            bank_transfer = bank_transfer + @Model.Amount_Paid;
                        }
                        else if (count == 0 && @Model.Pay_Method_ID == 5 && @Model.Doc_Type_ID != 2)
                        {
                            paypal = paypal + @Model.Amount_Paid;
                        }
                        else if (count == 0 && @Model.Pay_Method_ID == 6 && @Model.Doc_Type_ID != 2)
                        {
                            credit = credit + @Model.Amount_Paid;
                        }
                        else if (count == 0 && @Model.Pay_Method_ID == 7 && @Model.Doc_Type_ID != 2)
                        {
                            other = other + @Model.Amount_Paid;
                        }

                        <!--Calculations Against Payment Methods-->

                        <tr id=@String.Concat("Partial_tr", @Model.Id) class="text-center background_blue_selected_at_hover">
                            @if (@Model.Doc_Type_ID == 1)
                            {
                                <td class="vertical_align_middle">@Model.Invoice_Number</td>
                            }
                            else if (@Model.Doc_Type_ID == 2)
                            {
                                <td class="vertical_align_middle">@Model.Quote_Number</td>
                            }
                            else if (@Model.Doc_Type_ID == 3)
                            {
                                <td class="vertical_align_middle">@Model.Item_Sale_Number</td>
                            }
                            <td class="vertical_align_middle">@Model.Customer.Name</td>

                            @*@if (Model.Count() == null || Model.Count() == 0)
                                {
                                    <td>@v.Payment_Methods.Type</td>
                                    <td width="15%">@v.Payment_Status.Status</td>
                                    <td>@v.Net_Price</td>
                                    <td>@v.VAT_20</td>
                                    <td>@v.Gross</td>
                                    <td width="10%">@v.Created_at.ToString("dd-MMM-yy")</td>
                                }*@

                            @*else
                                {*@

                            @*@if (v.Pay_Method_ID == 1)
                                {
                                    {cash = cash + @v.Amount_Paid;}
                                }*@

                            @*@if (v.Sale_Transaction_History.Count==0)
                                {

                                    cash = cash + v.Amount_Paid;
                                }*@
                            <td>
                                @Model.Payment_Methods.Type

                                @foreach (var sale in @Model.Sale_Transaction_History)
                                {
                                    <br /><span class="sub_tr_values">@sale.Payment_Type</span>


                                }
                            </td>


                            <td width="15%">
                                @foreach (var sale in @Model.Sale_Transaction_History)
                                {
                                    { total = total + sale.Gross; }
                                }

                                @if (total == @Model.Gross)
                                {
                                    <span>Paid</span>
                                }
                                else
                                {
                                    @Model.Payment_Status.Status

                                }

                                @{ total = 0; }

                                @foreach (var sale in @Model.Sale_Transaction_History)
                                {
                                    //{ total = total + sale.Gross; }


                                    <br /><span class="sub_tr_values">@sale.Status</span>
                                }
                                @*@{total=0;}*@

                            </td>




                            <td>
                                @Model.Net_Price

                                @foreach (var sale in @Model.Sale_Transaction_History)
                                {
                                    <br /><span class="sub_tr_values">@sale.Net_Amount</span>


                                     <!--Calculations Against Document Types-->

                                    if (@Model.Doc_Type_ID == 1)
                                    {
                                        invoice_total_paid = invoice_total_paid + sale.Gross;

                                    }
                                    else if (@Model.Doc_Type_ID == 3)
                                    {
                                        item_sale_paid = item_sale_paid + sale.Gross;
                                    }

                                     <!--Calculations Against Document Types-->



                                    <!----------Calculations Against Payment Methods---------->

                                    if (sale.Payment_Type == "Cash")
                                    {
                                        { cash = cash + sale.Gross; }

                                    }
                                    else if (sale.Payment_Type == "Card")
                                    {
                                        { card = card + sale.Gross; }
                                    }
                                    else if (sale.Payment_Type == "Cheque")
                                    {
                                        { cheque = cheque + sale.Gross; }
                                    }
                                    else if (sale.Payment_Type == "Bank Transfer")
                                    {
                                        { bank_transfer = bank_transfer + sale.Gross; }
                                    }
                                    else if (sale.Payment_Type == "Paypal")
                                    {
                                        { paypal = paypal + sale.Gross; }
                                    }
                                    else if (sale.Payment_Type == "Credit")
                                    {
                                        { credit = credit + sale.Gross; }
                                    }
                                    else if (sale.Payment_Type == "Other")
                                    {
                                        { other = other + sale.Gross; }
                                    }
                                    <!----------Calculations Against Payment Methods---------->

                                }
                            </td>




                            <td>
                                @Model.VAT_20

                                @foreach (var sale in @Model.Sale_Transaction_History)
                                {
                                    <br /><span class="sub_tr_values">@sale.Vat</span>
                                }
                            </td>


                            <td>
                                @Model.Gross

                                @foreach (var sale in @Model.Sale_Transaction_History)
                                {
                                    //{total = total + sale.Gross;}
                                    <br /><span class="sub_tr_values">@sale.Gross</span>

                                }



                            </td>

                            <td width="10%">
                                @Model.Created_at.ToString("dd-MMM-yy")
                                @*@v.date.ToShortDateString()*@

                                @foreach (var sale in @Model.Sale_Transaction_History)
                                {
                                    <br /><span class="sub_tr_values">@sale.Date.ToString("dd-MMM-yy")</span>
                                    @*<br /><span class="sub_tr_values">@sale.Date.ToShortDateString()</span>*@
                                }
                            </td>

                            <td class="text-center width-180" style="vertical-align:middle;">

                                <a class="btn btn-sm btn-primary bold" href="~/Sale/Print_Document/@Model.Id">Print</a>

                                <a class="btn btn-sm btn-primary bold" href="~/Sale/Edit_Sale/@Model.Id">Edit</a>
                                @*@if (@v.Amount_Left==0)
            {
                <a class="btn btn-sm btn-danger bold" href="#"  onclick="Delete_Sale_Error()">Delete</a>
            }
            else
            {*@
                                <a class="btn btn-sm btn-danger bold" href="#" onclick="Delete_Sale_by_Ajax(@Model.Id,2)">Delete</a>
                                @*}*@

                            </td>

                        </tr>
                        @*//@total
                        //@cash*@


            </tbody>
        </table>

        <div class="clearfix"></div>

    </div>





    <div class="clearfix"></div>


    <!---->
    @*CLASS HIDDEN WILL BE USED*@

    <div class="">

        <div class="col-md-12 mt-15">
            @*<section id="no-more-tables">*@

            <div class="col-md-1"></div>

            <div id="cash_period_before_refund" class="col-md-5 pull-left">

                @if (cash != 0 || card != 0 || cheque != 0 || bank_transfer != 0 || paypal != 0 || credit != 0 || other != 0)
                {

                    <table id="table_cash_flow" class="black-color border_black">
                        <tr>
                            <th class="">Cash flow (before refunds)</th>
                            <td class=""></td>
                        </tr>

                        @if (cash != 0)
                        {
                            <tr>
                                <th class="">Cash</th>
                                <td><span>£</span>@cash</td>
                            </tr>
                        }
                        @if (card != 0)
                        {
                            <tr>
                                <th class="">Card</th>
                                <td><span>£</span>@card</td>
                            </tr>
                        }

                        @if (cheque != 0)
                        {
                            <tr>
                                <th class="">Cheque</th>
                                <td><span>£</span>@cheque</td>
                            </tr>
                        }
                        @if (bank_transfer != 0)
                        {
                            <tr>
                                <th class="">Bank Transfer</th>
                                <td><span>£</span>@bank_transfer</td>
                            </tr>
                        }
                        @if (paypal != 0)
                        {
                            <tr>
                                <th class="">PayPal</th>
                                <td><span>£</span>@paypal</td>
                            </tr>
                        }
                        @if (credit != 0)
                        {
                            <tr>
                                <th class="">Credit</th>
                                <td><span>£</span>@credit</td>
                            </tr>
                        }
                        @if (other != 0)
                        {
                            <tr>
                                <th class="">Other</th>
                                <td><span>£</span>@other</td>
                            </tr>
                        }
                        @{
                    gross_flow = cash + card + cheque + bank_transfer + paypal + credit + other;
                        }
                        <tr>
                            <th class="">Gross</th>
                            <td><span>£</span>@gross_flow</td>
                        </tr>
                    </table>

                }
            </div>



            <div id="cash_period_after_refund" class="col-md-5 pull-left">



                @{
                    decimal gross = invoice_total + item_sale_total;
                    decimal paid_amount = invoice_total_paid + item_sale_paid;
                    decimal due = gross - paid_amount;
                    decimal net_price = Math.Round(gross / 1.2M, 2);
                    decimal vat = Math.Round(gross - net_price, 2);
                }
                @if (gross != 0 || paid_amount != 0 || due != 0 || gross != 0 || gross != 0)
                {
                    <table id="table_cash_flow" class="black-color border_black">
                        <tr>
                            <th class="">Total takings this Period</th>
                            <td class=""></td>
                        </tr>

                        @if (invoice_total != 0)
                        {
                            <tr>
                                <th class="">Invoices</th>
                                <td><span>£</span>@invoice_total</td>
                            </tr>
                        }

                        @if (item_sale_total != 0)
                        {
                            <tr>
                                <th class="">Item Sale</th>
                                <td><span>£</span>@item_sale_total</td>
                            </tr>
                        }

                        <tr>
                            <th class="">Net</th>
                            <td><span>£</span> @net_price</td>
                        </tr>
                        <tr>
                            <th class="">VAT</th>
                            <td><span>£</span> @vat</td>
                        </tr>
                        <tr>
                            <th class="">Gross</th>
                            <td><span>£</span> @gross</td>
                        </tr>

                        <tr>
                            <th class="">Due</th>
                            <td><span>£</span> @due</td>
                        </tr>

                    </table>
                }
            </div>


            <div class="col-md-1"></div>




        </div>

        <div class="clearfix"></div>

        <div class="col-md-12 mt-15 none">


            <div class="col-md-1"></div>


            <div id="total_before_refunds" class="col-md-5 pull-left">
                @if (cash != 0)
                {
                    <table id="table_cash_flow" class="black-color border_black">
                        <tr>
                            <th class="">Cash flow (after refunds)</th>
                            <td class=""></td>
                        </tr>


                        <tr>
                            <th class="">Cash</th>
                            <td>£114.00</td>
                        </tr>
                        <tr>
                            <th class="">Card</th>
                            <td>£100.00</td>
                        </tr>
                        <tr>
                            <th class="">Cheque</th>
                            <td>£100.00</td>
                        </tr>
                        <tr>
                            <th class="">Bank Transfer</th>
                            <td>£2000.00</td>
                        </tr>
                        <tr>
                            <th class="">PayPal</th>
                            <td>£54.00</td>
                        </tr>
                        <tr>
                            <th class="">Credit</th>
                            <td>£100.00</td>
                        </tr>
                        <tr>
                            <th class="">Other</th>
                            <td>£54.00</td>
                        </tr>


                        <tr>
                            <th class="">Gross</th>
                            <td>£99.00</td>
                        </tr>
                    </table>





                }

            </div>


            <div id="total_after_refunds" class="col-md-5 pull-left">
                <table id="table_cash_flow" class="black-color border_black">
                    <tr>
                        <th class="">Refunds this period</th>
                        <td class=""></td>
                    </tr>


                    <tr>
                        <th class="">Credit</th>
                        <td>£934.00</td>
                    </tr>

                    <tr>
                        <th class="">Cash</th>
                        <td>£934.00</td>
                    </tr>

                    <tr>
                        <th class="">Gross</th>
                        <td>£934.00</td>
                    </tr>

                </table>
            </div>


            <div class="col-md-1"></div>

        </div>

        <div class="clearfix"></div>

    </div>



</div>

<script src="~/Scripts/new-js/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/new-js/jquery.datatables.min.js"></script>

@*<script>
        $(document).ready(function () {
            $('#table_on_dates').dataTable();
        });

        function histories(id) {
            alert(id);
        }

    </script>*@
@*<span>£</span><span></span><span></span><span></span><span></span>*@