@model eSalesPro.Models.Customer
<!---->
<div class="win text-center" id="edit_customers">
    <h3 class="black-color"><b>Edit Customers</b></h3>
    <img class="pull-right margin-supplier ml-22" src="~/img/images/customer.png" onclick="close_modal()"/>

    <form id="demo-form2" action="@Url.Action("Edit", "Customer", new {id=@Model.Id })" method="post" data-parsley-validate class="form-horizontal form-label-left" enctype="multipart/form-data">


        <div class="col-md-12 text-center">

            <div class="col-md-6">

                <div class="form-group">
                    <label class="customer-create-texts" for="middle-name">Name <span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <input type="text" value="@Model.Name" name="name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="customer-create-texts" for="middle-name">Company Name <span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <input type="text" name="company_name" value="@Model.Company.Company_Name" required>
                    </div>
                </div>



                <div class="customer-border"></div>

                <div class="form-group">
                    <label class="customer-create-texts" for="middle-name">Phone <span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <input type="text" name="phone" value="@Model.phone" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="customer-create-texts" for="middle-name">Email <span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <input type="text" name="email" value="@Model.Email" required>
                    </div>
                </div>


                @*<div class="form-group">
                    <label class="customer-create-texts" for="middle-name">Bank<span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">

                        <select id="customer_type" name="bank_name" class="form-control width-192">
                            <option value="@Model.Account.Bank_Id">@Model.Account.Bank.Bank_Name</option>
                            @foreach (var banks in ViewBag.Bank)
                            {
                                <option value="@banks.Id">@banks.Bank_Name</option>
                            }
                        </select>


                    </div>
                </div>*@


                <div class="form-group">
                    <label class="customer-create-texts" for="middle-name">Account No<span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <input type="text" name="account_no" value="@Model.Account_No" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="customer-create-texts" for="">Notes<span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <textarea class="width-193" name="notes" required>@Model.Notes</textarea>
                    </div>
                </div>



                <div class="empty-height"></div>

                <div class="form-group">
                    <label class="customer-create-texts" for="middle-name">Type<span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">

                        <select id="customer_type" name="customer_type" class="form-control width-192">
                            <option value="@Model.Customer_Type.Id">@Model.Customer_Type.Type</option>
                            @foreach (var customer_type in ViewBag.Customer_Type)
                            {
                                <option value="@customer_type.Id">@customer_type.Type</option>
                            }
                        </select>


                    </div>
                </div>

                <div class="form-group">
                    <label class="customer-create-texts" for="middle-name">Opening Balance<span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <input type="text" name="opening_balance" value="@Model.Opening_Balance" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="customer-create-texts" for="middle-name">Credit Limit<span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <input type="text" id="new_credit_limit_entered_" name="credit_limit" value="@Model.Credit_Limit_Old" required onkeypress="validate(event)" onchange="abc123()">
                    </div>
                </div>


                <div class="form-group">
                    <label class="customer-create-texts" for="middle-name">Available Credit Limit<span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <input type="text" id="available_credit_limit_" name="" disabled value="@Model.Credit_Limit" required>
                    </div>
                </div>
            </div>

            <input id="old_credit_limit_" hidden value="@Model.Credit_Limit_Old" text/>
            <input id="check_edit_click" type="text" hidden/>

            <div class="col-md-6">

                <div class="form-group">
                    <label class="customer-create-texts width-178" for="middle-name">Address<span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <input class="ml--50" type="text" name="billing_street" id="edit_customer_street_postcode" value="@Model.Billing_Street" required>
                        <input class="ml--50" type="text" name="billing_town" id="edit_customer_town_postcode" value="@Model.Billing_Town">
                        <input class="ml--50" type="text" name="billing_county" id="edit_customer_county_postcode" value="@Model.Billing_County">
                        <input class="ml--50" type="text" name="billing_country" id="edit_customer_country_postcode" value="@Model.Billing_Country">
                        @*<input class="ml--50" type="text" name="address5">*@
                    </div>
                </div>

                <div class="form-group">
                    <label class="customer-create-texts width-178" for="middle-name">Postcode<span class="required">*</span></label>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <input class="ml--50" type="text" name="billing_postcode" id="postcode_edit" value="@Model.Billing_Postcode" onkeypress="Postcode_Enter_Click_Edit(event)">
                        <a href="#" onclick="postcode_testing_edit()"><img src="~/img/images/ssearch.png" id="input_img" /></a>
                    </div>
                </div>


                <div class="customer-border"></div>

                <div class="clearfix"></div>

                <div class="pull-left ml-9">
                    <label><input type="checkbox" id="billing_address_checkbox" checked="checked" onclick="Different_Address()" />Use this as billing and shipping address</label>
                </div>

                <div class="clearfix"></div>
                <div class="empty-height"></div>


                <div id="aaa" class="Shipping_Address_Div none">
                    <div class="form-group">
                        <label class="customer-create-texts width-178" for="middle-name">Shipping Address<span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input class="ml--50" type="text" name="shipping_street" id="shipping_street_edit" required value="@Model.Shipping_Street">
                            <input class="ml--50" type="text" name="shipping_town" id="shipping_town_edit" value="@Model.Shipping_Town">
                            <input class="ml--50" type="text" name="shipping_county" id="shipping_county_edit" value="@Model.Shipping_County">
                            <input class="ml--50" type="text" name="shipping_country" id="shipping_country_edit" value="@Model.Billing_Country">
                        </div>
                    </div>




                    <div class="form-group">
                        <label class="customer-create-texts width-178" for="middle-name">Postcode<span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input class="ml--50" type="text" name="shipping_postcode" id="shipping_postcode_edit" value="@Model.Shipping_Postcode" onkeypress="Postcode_Shipping_Enter_Click_Edit(event)">
                            <a href="#" onclick="shipping_postcode_testing_edit()"><img src="~/img/images/ssearch.png" id="input_img" /></a>
                        </div>
                    </div>

                </div>

            </div>

        </div>




        <div class="clearfix"></div>


        <div class="empty-height"></div><div class="empty-height"></div><div class="empty-height"></div>

        <div class="col-md-12">
            <p class="font-12 black-color text-center">
                NOTE: Opening Balance use - values if customer owed to seller and + values if seller owed to customer.
                <br /> Add (-1) for unlimited Credit
            </p>
        </div>

        <div class="clearfix"></div>
        <div class="empty-height"></div><div class="empty-height"></div><div class="empty-height"></div>


        <div class="clearfix"></div>

        @*<div class="col-md-5 col-sm-6 col-xs-12 col-md-offset-3" style="margin-bottom:15px">
                <input type="submit" value="Add Product" class="btn btn-success" />
            </div>*@
        <div class="col-md-12">
            <div class="col-md-3"></div>

            <div class="col-md-3">
                <input type="submit" value="Edit" onclick="return click_check()" class="btn btn-success btn-mini center-block width-145" />
            </div>

            <div class="col-md-3">
                @*<a href="" class="btn btn-primary btn-mini center-block" style="width:135px">Cancel</a>*@
                
                <a href="#" onclick="close_modal_every_edit()"  class="btn btn-primary blue-btn-style-modal btn-mini center-block a-cancel">Cancel</a>
                
            </div>
            <div class="col-md-3"></div>



        </div>


        <div class="clearfix"></div>



    </form>

</div>





@*----------------------------POP UP for EDIT CUSTOMER POSTCODE CONFIRMATION--------------------------------*@

<div style="z-index:9999" class="modal fade" id="Postcode_Confirmation_Edit" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-style-custom">

            <div class="title col-md-12">
                <span>Confirm</span>
                <img src="~/img/images/c3.png" class="close mr--13 pull-right" onclick="close_customer_postcode()"/>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div id="" class="black-color">
                        <div class="empty-height"></div><div class="empty-height"></div>
                        <div class="text-center"><p class="color"><b>Please confirm below address <br />If correct, press ok</b></p></div>

                        <div class="empty-height"></div><div class="empty-height"></div>

                        <div class="text-center italic">
                            <label id="street_postcode_edit_customer"></label><br />
                        </div>
                        <div class="text-center italic">
                            <label id="town_postcode_edit_customer"></label><br />
                        </div>
                        <div class="text-center italic">
                            <label id="county_postcode_edit_customer"></label><br />
                        </div>
                        <div class="text-center italic">
                            <label id="country_postcode_edit_customer"></label><br />
                        </div>
                        <div class="text-center italic">
                            <label id="postcode_popup_edit_customer"><span> ?</span></label><br />
                        </div>





                        <div class="empty-height"></div>






                        <div class="col-md-12">


                            <div class="col-md-6">
                                <input type="button" onclick="Add_Postcode_Edit_Customer()" value="Add" class="btn btn-success btn-mini center-block width-95">
                            </div>


                            <script>



                            </script>


                            <div class="col-md-6">
                                <input type="button" value="Cancel" class="btn btn-primary btn-mini center-block width-95" onclick="close_customer_postcode()">
                            </div>




                        </div>


                        <div class="col-md-12">
                            <div class="col-md-3"></div>


                            <div class="col-md-3"></div>



                        </div>


                    </div>
                </div>
            </div>

            <div class="modal-footer"></div>
            <div class=""></div>

        </div>
    </div>
</div>

@*----------------------------POP UP for EDIT CUSTOMER POSTCODE CONFIRMATION--------------------------------*@


@*----------------------------POP UP for EDIT CUSTOMER POSTCODE HOUSE NUMBER--------------------------------*@

<div style="z-index:99999" class="modal fade" id="Postcode_House_Number_Edit" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-style-custom">

            <div class="title col-md-12">
                <span>Prompt</span>
                <img src="~/img/images/c3.png" class="close mr--13 pull-right" onclick="close_customer_postcode()"/>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div id="" class="black-color">
                        <div class="empty-height"></div>
                        <div class="empty-height"></div>

                        <div class="text-center italic">
                            <label id="">Please Enter House Number</label>

                            <input type="text" id="house_number_postcode_edit_customer" />

                        </div>

                        <div class="empty-height"></div>








                        <div class="empty-height"></div>
                        <div class="empty-height"></div>

                        <div class="col-md-12">

                            <div class="col-md-3"></div>

                            <div class="col-md-6">
                                <input type="button" onclick="House_no_Postcode_Edit_Supplier()" value="Add" class="btn btn-success btn-mini center-block width-95">
                            </div>




                            <div class="col-md-3"></div>
                            @*<input type="button" value="Cancel" class="btn btn-primary btn-mini center-block width-95" onclick="close_modal()">*@
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal-footer"></div>
            <div class=""></div>

        </div>
    </div>
</div>


@*----------------------------POP UP for EDIT CUSTOMER POSTCODE HOUSE NUMBER--------------------------------*@









<!------------------------------------------------------------------------------------------------------------>


@*----------------------------POP UP for EDIT CUSTOMER POSTCODE CONFIRMATION--------------------------------*@

<div style="z-index:9999" class="modal fade" id="Postcode_Shipping_Confirmation_Edit" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-style-custom">

            <div class="title col-md-12">
                <span>asasasas</span>
                <img src="~/img/images/c3.png" class="close mr--13 pull-right" onclick="close_customer_postcode_shipping()" />
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div id="" class="black-color">
                        <div class="empty-height"></div><div class="empty-height"></div>
                        <div class="text-center"><p class="color"><b>Please confirm below address <br />If correct, press ok</b></p></div>

                        <div class="empty-height"></div><div class="empty-height"></div>

                        <div class="text-center italic">
                            <label id="street_postcode_shipping_edit_customer"></label><br />
                        </div>
                        <div class="text-center italic">
                            <label id="town_postcode_shipping_edit_customer"></label><br />
                        </div>
                        <div class="text-center italic">
                            <label id="county_postcode_shipping_edit_customer"></label><br />
                        </div>
                        <div class="text-center italic">
                            <label id="country_postcode_shipping_edit_customer"></label><br />
                        </div>
                        <div class="text-center italic">
                            <label id="postcode_shipping_popup_edit_customer"><span> ?</span></label><br />
                        </div>





                        <div class="empty-height"></div>






                        <div class="col-md-12">


                            <div class="col-md-6">
                                <input type="button" onclick="Add_Shipping_Postcode_Edit_Customer()" value="Add" class="btn btn-success btn-mini center-block width-95">
                            </div>


                            <script>



                            </script>


                            <div class="col-md-6">
                                <input type="button" value="Cancel" class="btn btn-primary btn-mini center-block width-95" onclick="close_customer_postcode_shipping()">
                            </div>




                        </div>


                        <div class="col-md-12">
                            <div class="col-md-3"></div>


                            <div class="col-md-3"></div>



                        </div>


                    </div>
                </div>
            </div>

            <div class="modal-footer"></div>
            <div class=""></div>

        </div>
    </div>
</div>

@*----------------------------POP UP for EDIT CUSTOMER POSTCODE CONFIRMATION--------------------------------*@


@*----------------------------POP UP for EDIT CUSTOMER POSTCODE HOUSE NUMBER--------------------------------*@

<div style="z-index:99999" class="modal fade" id="Postcode_Shipping_House_Number_Edit" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-style-custom">

            <div class="title col-md-12">
                <span>Prompt</span>
                <img src="~/img/images/c3.png" class="close mr--13 pull-right" onclick="close_customer_postcode_shipping()" />
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div id="" class="black-color">
                        <div class="empty-height"></div>
                        <div class="empty-height"></div>

                        <div class="text-center italic">
                            <label id="">Please Enter House Number</label>

                            <input type="text" id="house_number_postcode_shipping_edit_customer" />

                        </div>

                        <div class="empty-height"></div>








                        <div class="empty-height"></div>
                        <div class="empty-height"></div>

                        <div class="col-md-12">

                            <div class="col-md-3"></div>

                            <div class="col-md-6">
                                <input type="button" onclick="House_no_Postcode_Shipping_Edit()" value="Add" class="btn btn-success btn-mini center-block width-95">
                            </div>




                            <div class="col-md-3"></div>
                            @*<input type="button" value="Cancel" class="btn btn-primary btn-mini center-block width-95" onclick="close_modal()">*@
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal-footer"></div>
            <div class=""></div>

        </div>
    </div>
</div>


@*----------------------------POP UP for EDIT CUSTOMER POSTCODE HOUSE NUMBER--------------------------------*@