@model eSalesPro.Models.Supplier

<div class="x_panel" id="aaa">

    <div class="win text-center">
        <h3 class="black-color"><b>Edit Supplier</b></h3>
        <img class="pull-right margin-supplier" src="~/img/images/supplier.png" />

        <form id="demo-form2" action="@Url.Action("Edit", "Supplier", new { id = @Model.Id })" method="post" data-parsley-validate class="form-horizontal form-label-left" enctype="multipart/form-data">



            <div class="col-md-12 text-center">

                <div class="col-md-6">

                    <div class="form-group">
                        <label class="supplier-create-texts" for="middle-name">Company Name <span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" name="company_name" id="company_name" value="@Model.Company.Company_Name" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="supplier-create-texts" for="middle-name">Company Short Name <span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" name="company_short_name" id="company_short_name" value="@Model.Company.Company_Short_Name" required>
                        </div>
                    </div>

                    <div class="supplier-border"></div>

                    <div class="form-group">
                        <label class="supplier-create-texts" for="middle-name">Sales Contact Name <span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" name="sales_contact_name" id="sales_contact_name" value="@Model.Name" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="supplier-create-texts" for="middle-name">Sales Contact Email <span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" name="sales_contact_mail" id="sales_contact_mail" value="@Model.Email" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <div class="">
                                <label class="supplier-create-texts" for="middle-name">Sales Contact Phone <span class="required">*</span></label>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <input class="width-123" type="text" name="sales_contact_phone" id="sales_contact_phone" value="@Model.Phone" required>
                                </div>
                            </div>

                            <div class="">
                                <label class="pull-left ext_margin">Ext</label>
                                <div>
                                    <input type="number" class="width-43 mr-23" name="sales_phone_ext" id="sales_phone_ext" value="@Model.Phone_Ext" required>
                                </div>
                            </div>

                            <div class="clear"></div>

                        </div>


                    </div>

                    <div class="form-group">
                        <label class="supplier-create-texts" for="middle-name">Sales Contact Mobile <span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" name="sales_contact_mobile" id="sales_contact_mobile" value="@Model.Mobile" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="supplier-create-texts" for="middle-name">Sales Contact Fax <span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" name="sales_contact_fax" id="sales_contact_fax" value="@Model.Fax" required>
                        </div>
                    </div>

                    <div class="supplier-border"></div>

                    <div class="form-group">
                        <label class="supplier-create-texts" for="middle-name">Account Contact Name <span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" name="account_contact_name" id="account_contact_name" value="@Model.Account.Account_Title" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="supplier-create-texts" for="middle-name">Account Contact Email <span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" name="account_contact_mail" id="account_contact_mail" value="@Model.Account.Email" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <div class="">
                                <label class="supplier-create-texts" for="middle-name">Account Contact Phone <span class="required">*</span></label>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <input class="width-123" type="text" name="account_contact_phone" id="account_contact_phone" value="@Model.Account.Contact_Number" required>
                                </div>
                            </div>

                            <div class="">
                                <label class="pull-left ext_margin">Ext</label>
                                <div>
                                    <input class="width-43 mr-23" type="text" name="account_ext_phone" id="account_ext_phone" value="@Model.Account.Phone_Extension" required>
                                </div>
                            </div>

                            <div class="clear"></div>

                        </div>


                    </div>


                    <div class="form-group">
                        <label class="supplier-create-texts" for="middle-name">Account Contact Mobile <span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" name="account_contact_mobile" id="account_contact_mobile" value="@Model.Account.Mobile_Number" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="supplier-create-texts" for="middle-name">Account Contact Fax <span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" name="account_contact_fax" id="account_contact_fax" value="@Model.Account.Fax" required>
                        </div>
                    </div>

                    <div class="supplier-border"></div>

                    <div class="form-group">
                        <label class="supplier-create-texts" for="middle-name">Bank Name <span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" name="bank_name" id="bank_name" value="@Model.Account.Bank.Bank_Name" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="supplier-create-texts" for="middle-name">Account Name <span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" name="account_name" id="account_name" value="@Model.Account.Bank.Account_Name" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="supplier-create-texts" for="middle-name">Account No <span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" name="account_no" id="account_no" value="@Model.Account.Account_No" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="supplier-create-texts" for="middle-name">Sort Code <span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" name="sort_code" id="sort_code" value="@Model.Account.Bank.Sort_Code" required>
                        </div>
                    </div>






                </div>



                <div class="col-md-6">

                    <div class="form-group">
                        <label class="supplier-create-texts ml-22" for="middle-name">Address<span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" class="ml--50" name="street_postcode_edit" id="edit_street_postcode" value="@Model.Street" required>
                            <input type="text" class="ml--50" name="town_postcode_edit" id="edit_town_postcode" value="@Model.Town">
                            <input type="text" class="ml--50" name="county_postcode_edit" id="edit_county_postcode" value="@Model.County">
                            <input type="text" class="ml--50" name="country_postcode_edit" id="edit_country_postcode" value="@Model.Country">
                            @*<input type="text" class="ml--50" name="address5">*@
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="supplier-create-texts ml-22" for="middle-name">Postcode<span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" class="ml--50" name="postcode" id="postcode_edit" value="@Model.Post_Code" onkeypress="Postcode_Enter_Click_Edit(event)">
                            <a href="#" onclick="postcode_testing_edit()"><img src="~/img/images/ssearch.png" id="input_img" /></a>
                        </div>
                    </div>

                    <div id="input_container">

                    </div>


                    <div class="form-group">
                        <label class="supplier-create-texts ml-22" for="middle-name">Website<span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" class="ml--50" name="website" id="website" value="@Model.Website" required>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="supplier-create-texts ml-22" for="middle-name">Login<span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" class="ml--50" name="login" id="login" value="@Model.Login" required>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="supplier-create-texts ml-22" for="middle-name">Password<span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" class="ml--50" name="password" id="password" value="@Model.Password" required>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="supplier-create-texts ml-22" for="">Notes<span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <textarea class="width-193 ml--50" name="notes" id="notes" required>@Model.Notes</textarea>
                        </div>
                    </div>

                    <div class="supplier-border"></div>

                    <div class="form-group">
                        <label class="supplier-create-texts ml-22" for="middle-name">Credit Limit<span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" class="ml--50" name="credit_limit" id="credit_limit" value="@Model.Credit_Limit" required>
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="supplier-create-texts ml-22" for="middle-name">Credit Period<span class="required">*</span></label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <input type="text" class="ml--50" name="credit_period" id="credit_period" value="@Model.Credit_Period" required>
                        </div>
                    </div>

                </div>

            </div>



            @*<div class="col-md-5 col-sm-6 col-xs-12 col-md-offset-3" style="margin-bottom:15px">
                    <input type="submit" value="Add Product" class="btn btn-success" />
                </div>*@
            <div class="col-md-12">
                <div class="col-md-3"></div>

                <div class="col-md-3">
                    <input type="hidden" id="supplier_id" value="" name="supplier_id" />
                    <input type="submit" value="Update" class="btn btn-success btn-mini center-block width-145" />
                </div>

                <div class="col-md-3">
                    @*<a href="" class="btn btn-primary btn-mini center-block" style="width:135px">Cancel</a>*@
                    <a href="#" class="btn btn-primary btn-mini blue-btn-style-modal center-block a-cancel" onclick="close_modal_123()">Cancel</a>
                </div>
                <div class="col-md-3"></div>



            </div>

        </form>

    </div>


</div>